{% extends 'base.html' %}

{% block content %}

  <div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
  </div>

  <script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#8B7355', '#3CB371', '#FF0000', '#6C7B8B', '#00BFFF', '#AB82FF', '#7A67EE', '#FFA500','#000000'
          ],
          label: 'Permissão'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>

{% endblock %}